[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
matplotlib = "*"
scipy = "*"
fonttools = "*"
platformdirs = "*"
tornado = "*"
pygame = "*"
pyopengl = "*"

[dev-packages]

[requires]
python_version = "3.11"
